/* Setup */
:root {
  --white-color: #fafafa;
  --orange-color: #ff9800;
  --black-color: #010101;
  --gray-color: #9c9c9c;
  --another-gray-color: #333333;
  --dark-gray-color: #1a1a1a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--white-color);
  transition: 0.2s;
}
body {
  height: 100vh;
  background-color: var(--black-color);
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 767px) {
  .container {
      width: 100%;
  }
}
/* Small  */
@media (min-width: 768px) {
  .container {
      width: 750px;
  }
}
/* Medium  */
@media (min-width: 992px) {
  .container {
      width: 970px;
  }
}
/* Large  */
@media (min-width: 1200px) {
  .container {
      width: 1170px;
  }
}

/* Nav Bar */
.nav-bar {
  background-color: var(--dark-gray-color);
  height: 75px;
}
@media (max-width: 360px) {
  .nav-bar {
    height: 100px;
  }
}
.nav-bar .container {
  height: 100%;
}
@media (max-width: 360px) {
  .nav-bar .container {
    height: 50%;
  }
}
/* Page Buttons */
.page-buttons {
  height: 100%;
}
.page-buttons button {
  height: 100%;
  width: 50%;
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.5;
  position: relative;
  float: left;
  letter-spacing: 1px;
}
@media (max-width: 500px) , (max-height: 700px) {
  .page-buttons button {
    font-size: 15px;
  }
}
@media (max-width: 360px) {
  .page-buttons button {
    width: 100%;
  }
}
.page-buttons button::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 0;
  background-color: var(--white-color);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.2s;
}
.page-buttons button:hover {
  opacity: 1 !important;
  cursor: pointer;
  letter-spacing: 2px;
}
.page-buttons button:hover::after {
  width: 100%;
}
@media (max-width: 360px) {
  .page-buttons button:hover::after {
    width: 0;
  }
}
.page-buttons button:active {
  background-color: var(--another-gray-color);
}
button, i {
  -webkit-tap-highlight-color: transparent;
}

/* Page Content */
.page-content {
  height: calc(100% - 75px);
}
@media (max-width: 360px) {
  .page-content {
    height: calc(100% - 100px);
  }
}
.page-content .container {
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 360px) {
  .page-content .container > div {
    width: 100%;
  }
}

/* Timer Page */
.container .timer-page {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 50px;
}
@media (orientation: portrait) {
  .container .timer-page {
    width: 100%;
    flex-direction: column;
  }
}
.container .timer-page > div {
  width: 100%;
}
.container .timer-page .left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
@media (max-width: 500px) , (max-height: 700px) {
  .container .timer-page .left-content {
    gap: 30px;
  }
}
@media (max-height: 360px) {
  .container .timer-page .left-content {
    gap: 5px;
  }
}

.inputs-labels {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.inputs-labels div {
  width: 150px;
  margin: 0 10px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.inputs-labels div label {
  width: 100%;
  font-size: 20px;
  margin-bottom: 20px;
  opacity: 0.5;
}
@media (max-width: 500px) , (max-height: 700px) {
  .inputs-labels div label {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
.inputs-labels div input {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 70px;
}
@media (max-width: 500px) , (max-height: 700px) {
  .inputs-labels div input {
    width: 60px;
    height: 60px;
    font-size: 40px;
  }
}
.inputs-labels div input:focus{
  outline: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
}
.inputs-labels p {
  margin-top: 35px;
  font-size: 65px;
}
@media (max-width: 500px) , (max-height: 700px) {
  .inputs-labels p {
    margin-top: 20px;
    font-size: 35px;
  }
}
.inputs-labels i {
  width: 100%;
  font-size: 70px;
}
@media (max-width: 500px) , (max-height: 700px) {
  .inputs-labels i {
    font-size: 35px;
  }
}
@media (max-height: 450px) {
  .inputs-labels i {
    display: none;
  }
}
.inputs-labels i:hover {
  cursor: pointer;
  opacity: 0.5;
}

.alert {
  font-size: 20px;
}
@media (max-width: 500px) , (max-height: 700px) {
  .alert {
    font-size: 15px;
  }
}
.alertmsg {
  color: #FF5722;
}
.start-add-btns {
  position: relative;
  text-align: center;
}
@media (max-width: 360px) {
  .start-add-btns {
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: 30px;
  }
}
.start-btn {
  color: var(--black-color);
  background-color: var(--orange-color);
}
.start-btn:hover {
  background-color: #f7b757;
}
.start-btn:focus-visible {
  outline: none;
  box-shadow: 0px 0px 10px var(--white-color);
}
.add-btn {
  font-size: 45px;
  background-color: transparent;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 3px solid var(--dark-gray-color);
  position: absolute;
  margin-left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 500px) , (max-height: 700px) {
  .add-btn {
    font-size: 25px;
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }
}
@media (max-width: 360px) {
  .add-btn {
    top: calc(100% + 15px);
    left: 50%;
    margin-left: 0;
    transform: translateX(-50%);
  }
}
.add-btn:hover {
  cursor: pointer;
  background-color: var(--another-gray-color);
}
.angle-i {
  font-size: 50px;
  font-weight: bold;
  display: none;
}
.table {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  max-height: 280px;
  overflow: hidden auto;
  padding-right: 10px;
  width: 100%;
}
@media (max-height: 900px) {
  .table:not(:empty) {
    display: none;
  }
  .table:not(:empty) + .angle-i {
    display: inline;
  }
}
.table:empty {
  display: none;
}
@media (max-width: 500px) , (max-height: 700px) {
  .table {
    max-height: 210px;
    font-size: 18px;
  }
}
.table-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--another-gray-color);
  padding: 10px 10px 10px 0;
  margin-bottom: 10px;
}
.table-row:hover {
  cursor: pointer;
  background-color: var(--dark-gray-color) !important;
}
.indx-val {
  display: flex;
  align-items: center;
}
.indx-val span{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--another-gray-color);
}
.table-row i {
  opacity: 0.8;
  color: #FF5722;
  transition: 0s;
}
.table-row i:hover {
  cursor: pointer;
  opacity: 1;
}
/* Scroll Bar*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .table::-webkit-scrollbar {
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 10px;
  }
  .table::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px; 
  }
}

.container .timer-sec-page,
.container .stopwatch-page {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 75px;
}
@media (max-width: 360px) {
  .container .stopwatch-page {
    gap: 40px;
  }
}

.btn {
  width: 200px;
  padding: 20px 0;
  border-radius: 50px;
  border: none;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}
@media (max-width: 500px) , (max-height: 700px) {
  .btn {
    width: 150px;
    padding: 15px 0;
    font-size: 20px;
  }
}
@media (max-width: 360px) {
  .btn {
    padding: 10px 0;
    font-size: 15px;
    width: 100%;
  }
}
.btn:hover {
  background-color: #ffa828;
}
.cancle-pause-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
@media (max-width: 500px) , (max-height: 700px) {
  .cancle-pause-container {
    gap: 20px;
    width: 100%;
  }
}
@media (max-width: 360px) {
  .cancle-pause-container {
    flex-direction: column;
  }
}
.cancel-btn {
  background-color: var(--dark-gray-color);
}
.cancel-btn:hover {
  background-color: #414040;
}
.pause-btn {
  background-color: #731d17;
}
.pause-btn:hover {
  background-color: #a53737;
}
.resume-btn {
  background-color: #00554d;
}
.resume-btn:hover {
  background-color: #009688;
}
:disabled {
  opacity: 0.5;
  cursor: default;
}
:disabled:hover {
  background-color: var(--dark-gray-color);
}
/* ///////////////////////////////////////////// */
.counter-circle {
  border-radius: 50%;
  background-color: var(--white-color);
  font-size: 40px;
}
.counter-circle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-radius: 50%;
  background-color: var(--black-color);
}
.counter-style {
  width: 400px;
  height: 400px;
  font-size: 70px;
  position: relative;
  display: flex;
  align-items: center;
}
.timer-counter-p {
  z-index: 999;
}
.sw-style {
  text-align: center;
}
.large-font {
  font-size: 70px;
}
@media (max-width: 500px) , (max-height: 700px) {
  .large-font {
    font-size: 50px;
  }
}
@media (max-width: 360px) {
  .large-font {
    font-size: 35px;
  }
}

.pos-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hide {
  display: none !important;
}
.rotate {
  transform: rotate(180deg);
}
::selection {
  background-color: var(--orange-color);
  color: var(--black-color);
}


/* CSS ICON ALERT GENERAL */
.screenAlert-icon{border-radius:50%;box-sizing:content-box;height:80px;margin:20px auto;padding:0;position:relative;width:80px;scale: 3;z-index: 2;}
.screenAlert-icon + .screenAlert-icon {margin-top:50px}

/* CSS SUCCESS */
.screenAlert-icon.screenAlert-success{border-color:#A5DC86}
.screenAlert-icon.screenAlert-success:after,
.screenAlert-icon.screenAlert-success:before{background-color:transparent!important;content:'';height:120px;position:absolute;-webkit-transform:rotate(45deg);transform:rotate(45deg);width:60px}
.screenAlert-icon.screenAlert-success:before{border-radius:120px 0 0 120px;left:-33px;top:-7px;-webkit-transform-origin:60px 60px;transform-origin:60px 60px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}
.screenAlert-icon.screenAlert-success:after{border-radius:0 120px 120px 0;left:30px;top:-11px;-webkit-transform-origin:0 60px;transform-origin:0 60px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}
.screenAlert-icon.screenAlert-success .screenAlert-placeholder{border-radius:50%;box-sizing:content-box;height:80px;left:-4px;position:absolute;top:-4px;width:80px;z-index:2}
.screenAlert-icon.screenAlert-success .screenAlert-line{background-color:#A5DC86;border-radius:2px;display:block;height:5px;position:absolute;z-index:2}
.screenAlert-icon.screenAlert-success .screenAlert-line.screenAlert-tip{left:14px;top:46px;-webkit-transform:rotate(45deg);transform:rotate(45deg);width:25px}
.screenAlert-icon.screenAlert-success .screenAlert-line.screenAlert-long{right:8px;top:38px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);width:47px}
.animateSuccessTip{-webkit-animation:animateSuccessTip .75s;animation:animateSuccessTip .75s}
.animateSuccessLong{-webkit-animation:animateSuccessLong .75s;animation:animateSuccessLong .75s}
/* ANIMATE SUCCESS */
@-webkit-keyframes animateSuccessTip{0%,54%{width:0;left:1px;top:19px}70%{width:50px;left:-8px;top:37px}84%{width:17px;left:21px;top:48px}100%{width:25px;left:14px;top:45px}}
@keyframes animateSuccessTip{0%,54%{width:0;left:1px;top:19px}70%{width:50px;left:-8px;top:37px}84%{width:17px;left:21px;top:48px}100%{width:25px;left:14px;top:45px}}
@-webkit-keyframes animateSuccessLong{0%,65%{width:0;right:46px;top:54px}84%{width:55px;right:0;top:35px}100%{width:47px;right:8px;top:38px}}
@keyframes animateSuccessLong{0%,65%{width:0;right:46px;top:54px}84%{width:55px;right:0;top:35px}100%{width:47px;right:8px;top:38px}}




@media (width: 1080px), (height: 2400px) {
  .nav-bar {
    height: 200px;
  }
  .page-buttons button {
    font-size: 40px;
  }
  .page-content {
    height: calc(100% - 200px);
  }
  .inputs-labels {
    justify-content: space-evenly;
  }
  .inputs-labels i {
    font-size: 120px;
  }
  .inputs-labels div label {
    font-size: 40px;
    margin-bottom: 40px;
  }
  .inputs-labels div input {
    width: 250px;
    height: 250px;
    font-size: 120px;
  }
  .inputs-labels p {
    margin-top: 30px;
    font-size: 120px;
  }
  .btn {
    width: 500px;
    padding: 40px 0;
    border-radius: 100px;
    font-size: 60px;
  }
  .add-btn {
    font-size: 60px;
    width: 120px;
    height: 120px;
    margin-left: 30px;
  }
  .table {
    font-size: 40px;
    max-height: 500px;
    margin-top: 100px;
  }
  .indx-val span {
    margin-right: 30px;
    width: 70px;
    height: 70px;
  }
  .sw-style {
    font-size: 120px;
    margin-bottom: 200px;
  }
  .counter-style {
    width: 700px;
    height: 700px;
    font-size: 120px;
    margin-bottom: 200px;
  }
  .screenAlert-icon {
    scale: 4;
}
}















body {
  height: 100vh;
  position: relative;
}
.opacity {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 45%;
}
.pop-up {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
}
.pop-up > p {
  background-color: #c54e29;
  padding: 20px;
  font-weight: bold;
}
.preset-timer-content {
  background-color: var(--white-color);
  padding: 30px 30px 0;
}
.inputs-labels-pop {
  width: 100%;
  display: flex;
  align-items: center;
}
.inputs-labels-pop div {
  width: 55px;
  margin: 0 10px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.inputs-labels-pop div label {
  width: 100%;
  font-size: 15px;
  margin-bottom: 15px;
  opacity: 0.5;
  color: var(--dark-gray-color);
}
.inputs-labels-pop i {
  font-size: 35px;
  color: var(--black-color);
}
.inputs-labels-pop i:hover {
  cursor: pointer;
  opacity: 0.5;
}
.inputs-labels-pop div input {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 35px;
  color: var(--black-color);
}
.inputs-labels-pop div input:focus{
  outline: 0;
}
.inputs-labels-pop p {
  margin-top: 35px;
  font-size: 35px;
  color: var(--black-color);
}

input[type="text"] {
  width: -webkit-fill-available;
  padding: 10px 0;
  background-color: transparent;
  color: var(--black-color);
  border: none;
  border-bottom: 1px solid #9f9f9f;
  outline: none;
  margin: 15px 0;
}
.cancle-pause-container-pop {
  display: flex;
  justify-content: flex-end;
  margin-right: -30px;
}
.cancel-btn-pop {
  color: var(--black-color);
}
.start-btn-pop {
  color: #c54e29;
}
.btn-pop {
  padding: 15px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  background-color: transparent;
  opacity: 0.6;
}
.btn-pop:hover {
  cursor: pointer;
  opacity: 1;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
}