/* Setup */
:root {
  --white-color: #fafafa;
  --orange-color: #ff9800;
  --black-color: #010101;
  --gray-color: #9c9c9c;
  --another-gray-color: #333333;
  --dark-gray-color: #1a1a1a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Cairo', sans-serif;
  color: var(--white-color);
  transition: 0.2s;
}
body {
  height: 100vh;
  background-color: var(--black-color);
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 767px) {
  .container {
      width: 100%;
  }
}
/* Small  */
@media (min-width: 768px) {
  .container {
      width: 750px;
  }
}
/* Medium  */
@media (min-width: 992px) {
  .container {
      width: 970px;
  }
}
/* Large  */
@media (min-width: 1200px) {
  .container {
      width: 1170px;
  }
}

/* Nav Bar */
.nav-bar {
  background-color: var(--dark-gray-color);
  height: 75px;
}
@media (max-width: 360px) {
  .nav-bar {
    height: 100px;
  }
}
.nav-bar .container {
  height: 100%;
}
@media (max-width: 360px) {
  .nav-bar .container {
    height: 50%;
  }
}
/* Page Buttons */
.page-buttons {
  height: 100%;
}
.page-buttons button {
  height: 100%;
  width: 50%;
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.5;
  position: relative;
  float: left;
  letter-spacing: 1px;
}
@media (max-width: 500px) , (max-height: 700px) {
  .page-buttons button {
    font-size: 15px;
  }
}
@media (max-width: 360px) {
  .page-buttons button {
    width: 100%;
  }
}
.page-buttons button::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 0;
  background-color: var(--white-color);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.2s;
}
.page-buttons button:hover {
  opacity: 1 !important;
  cursor: pointer;
  letter-spacing: 2px;
}
.page-buttons button:hover::after {
  width: 100%;
}
@media (max-width: 360px) {
  .page-buttons button:hover::after {
    width: 0;
  }
}
.page-buttons button:active {
  background-color: var(--another-gray-color);
}
button, i {
  -webkit-tap-highlight-color: transparent;
}
.page-content .container .page-header {
  width: 100%;
  text-align: center;
  margin: 100px 0;
  font-size: 30px;
  letter-spacing: 5px;
}
@media (max-width: 500px) , (max-height: 700px) {
  .page-content .container .page-header {
    margin: 50px 0;
    font-size: 20px;
  }
}
@media (max-width: 360px) {
  .page-content .container .page-header {
    margin: 30px 0;
    font-size: 15px;
  }
}
.page-content .container .page-header h1{
  margin-bottom: 20px;
  font-size: 50px;
  color: var(--orange-color);
}
@media (max-width: 500px) , (max-height: 700px) {
  .page-content .container .page-header h1{
    margin-bottom: 10px;
    font-size: 30px;
  }
}
@media (max-width: 360px) {
  .page-content .container .page-header h1{
    font-size: 20px;
  }
}
/* Timer Page */
.container .timer-page {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 50px;
}
@media (orientation: portrait) {
  .container .timer-page {
    width: 100%;
    flex-direction: column;
  }
}
.container .timer-page > div {
  width: 100%;
}
.container .timer-page .left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-bottom: 20px;
}
@media (max-width: 500px) , (max-height: 700px) {
  .container .timer-page .left-content {
    gap: 30px;
  }
}
@media (max-height: 360px) {
  .container .timer-page .left-content {
    gap: 5px;
  }
}

.inputs-labels {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.inputs-labels div {
  width: 150px;
  margin: 0 10px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.inputs-labels div label {
  width: 100%;
  font-size: 20px;
  margin-bottom: 20px;
  opacity: 0.5;
}
@media (max-width: 500px) , (max-height: 700px) {
  .inputs-labels div label {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
.inputs-labels div input {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 70px;
}
@media (max-width: 500px) , (max-height: 700px) {
  .inputs-labels div input {
    width: 60px;
    height: 60px;
    font-size: 40px;
  }
}
.inputs-labels div input:focus{
  outline: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
}
.inputs-labels p {
  margin-top: 35px;
  font-size: 65px;
}
@media (max-width: 500px) , (max-height: 700px) {
  .inputs-labels p {
    margin-top: 20px;
    font-size: 35px;
  }
}
.inputs-labels i {
  width: 100%;
  font-size: 70px;
}
@media (max-width: 500px) , (max-height: 700px) {
  .inputs-labels i {
    font-size: 35px;
  }
}
@media (max-height: 450px) {
  .inputs-labels i {
    display: none;
  }
}
.inputs-labels i:hover {
  cursor: pointer;
  opacity: 0.5;
}

.alert {
  font-size: 20px;
}
@media (max-width: 500px) , (max-height: 700px) {
  .alert {
    font-size: 15px;
  }
}
.alertmsg {
  color: #FF5722;
}
.start-add-btns {
  position: relative;
  text-align: center;
}
@media (max-width: 360px) {
  .start-add-btns {
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: 30px;
  }
}
.start-btn {
  color: var(--black-color);
  background-color: var(--orange-color);
}
.start-btn:hover {
  background-color: #f7b757;
}
.start-btn:focus-visible {
  outline: none;
  box-shadow: 0px 0px 10px var(--white-color);
}
.add-btn {
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 3px solid var(--dark-gray-color);
  position: absolute;
  margin-left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 500px) , (max-height: 700px) {
  .add-btn {
    font-size: 25px;
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }
}
@media (max-width: 360px) {
  .add-btn {
    top: calc(100% + 15px);
    left: 50%;
    margin-left: 0;
    transform: translateX(-50%);
  }
}
.add-btn:hover {
  cursor: pointer;
  background-color: var(--another-gray-color);
}
.angle-i {
  font-size: 30px;
  font-weight: bold;
  display: none;
}
.table {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  max-height: 280px;
  overflow: hidden auto;
  padding-right: 10px;
  width: 100%;
}
@media (max-height: 770px) {
  .table:not(:empty) {
    display: none;
  }
  .table:not(:empty) + .angle-i {
    display: inline;
  }
}
.table:empty {
  display: none;
}
@media (max-width: 500px) , (max-height: 700px) {
  .table {
    max-height: 210px;
    font-size: 18px;
  }
}
.table-row {
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--another-gray-color);
}
.table-row .left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 10px 5px 0;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}
.table-row .left:hover {
  cursor: pointer;
  background-color: var(--dark-gray-color) !important;
}
.indx-val {
  display: flex;
  align-items: center;
}
.indx-val span{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--dark-gray-color);
}
.table-row i {
  opacity: 0.8;
  color: #FF5722;
  transition: 0s;
}
.table-row i:hover {
  cursor: pointer;
  opacity: 1;
}

.container .timer-sec-page,
.container .stopwatch-page {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 75px;
}
.container .stopwatch-page {
  height: 1000px;
}
.container .stopwatch-page {
  justify-content: center;
}
@media (max-height: 1200px) {
  .container .stopwatch-page {
    height: 600px;
  }
}
@media (max-height: 850px) {
  .container .stopwatch-page {
    height: 400px;
  }
}
@media (max-height: 750px) {
  .container .stopwatch-page {
    height: unset;
  }
}
@media (max-height: 450px) {
  .container .stopwatch-page {
    gap: 30px;
  }
}
@media (max-width: 360px) {
  .container .timer-sec-page {
    gap: 30px;
  }
  .container .stopwatch-page {
    gap: 40px;
  }
}

.btn {
  width: 200px;
  padding: 20px 0;
  border-radius: 50px;
  border: none;
  font-size: 25px;
  font-weight: 800;
  cursor: pointer;
}
@media (max-width: 500px) , (max-height: 700px) {
  .btn {
    width: 150px;
    padding: 15px 0;
    font-size: 20px;
    /* width: 100%; */
  }
}
@media (max-width: 360px) {
  .btn {
    padding: 10px 0;
    font-size: 15px;
  }
}
.btn:not(:disabled):hover {
  background-color: #ffa828;
}
.cancle-pause-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 40px;
}
@media (max-width: 500px) {
  .cancle-pause-container {
    gap: 20px;
    width: 100%;
    flex-direction: column;
  }
}
@media (max-height: 500px) {
  .cancle-pause-container {
    margin-bottom: 20px;
  }
}
.cancel-btn {
  background-color: var(--dark-gray-color);
}
.cancel-btn:not(:disabled):hover {
  background-color: #414040;
}
@media (max-width: 500px) {
  .cancle-pause-container button {
    width: 100%;
  }
}
.pause-btn {
  background-color: #731d17;
}
.pause-btn:not(:disabled):hover {
  background-color: #a53737;
}
.resume-btn {
  background-color: #00554d;
}
.resume-btn:hover {
  background-color: #009688 !important;
}
:disabled {
  opacity: 0.5;
  cursor: default;
}

/* ///////////////////////////////////////////// */
.counter-circle {
  border-radius: 50%;
  background-color: var(--white-color);
  font-size: 40px;
}
.counter-circle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-radius: 50%;
  background-color: var(--black-color);
}
.counter-style {
  width: 400px;
  height: 400px;
  font-size: 70px;
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 450px) {
  .counter-style {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 320px) {
  .counter-style {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 220px) {
  .counter-style {
    width: 150px;
    height: 150px;
  }
}
.timer-counter-p {
  z-index: 999;
}
.check-icon {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  animation: 0.4s ease-in check-animation;
  z-index: 999;
}
@keyframes check-animation {
  from {
    opacity: 0;
    transform: translate(-50%, 50%) scale(0) rotate(-360deg);
  }
  to {
    transform: translate(-50%, 50%) scale(1) rotate(0);
    opacity: 1;
  }
}
.check-icon i {
  font-size: 120px;
  color: #4caf50;
}
@media (max-width: 450px) {
  .check-icon i {
    font-size: 80px;
    color: #4caf50;
  }
}
@media (max-width: 320px) {
  .check-icon i {
    font-size: 50px;
    color: #4caf50;
  }
}
.sw-style {
  text-align: center;
}
.large-font {
  font-size: 70px;
}
@media (max-width: 500px) , (max-height: 700px) {
  .large-font {
    font-size: 50px;
  }
}
@media (max-width: 360px) {
  .large-font {
    font-size: 35px;
  }
}

.pos-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hide {
  display: none !important;
}
.rotate {
  transform: rotate(180deg);
}
::selection {
  background-color: var(--orange-color);
  color: var(--black-color);
}
/* Scroll Bar*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::-webkit-scrollbar {
    position: absolute;
    bottom: 0;
    width: 10px;
    background-color: #171616;
    border-radius: 6px;
}
  ::-webkit-scrollbar-thumb {
    background-color: rgb(136 136 136 / 50%);
    border-radius: 6px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(136 136 136);
  }
}